/* body {
    background: url(../image/Mattroi.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: beige;

} */

/*Animation*/
@keyframes LeftRight {
    0% {
        transform: translateX(00px);
    }

    50% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes RightLeft {
    0% {
        transform: translateX(max-width);
    }

    50% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(max-width);
    }
}

.CloudyLeft img {
    animation: LeftRight 20s ease-out infinite;
}

.CloudyRight img {
    animation: RightLeft 20s ease-out infinite;
}

/*Hình cặp đôi*/
.img-couple {
    position: absolute;
    top: -59px;
    left: 220px;
}