<div class="p-3">
    <h5>Liên hệ</h5>
    <form>
        <div class="mb-3">
            <label class="form-label">Tên</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Tin nhắn</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Gửi</button>
    </form>
</div>