<div class="p-3">
    <h5>Kỹ năng</h5>
    <div class="mb-3">
        <h6>HTML/CSS</h6>
        <div class="progress">
            <div class="progress-bar" style="width: 90%">90%</div>
        </div>
    </div>
    <div class="mb-3">
        <h6>JavaScript</h6>
        <div class="progress">
            <div class="progress-bar" style="width: 80%">80%</div>
        </div>
    </div>
    <div class="mb-3">
        <h6>Bootstrap</h6>
        <div class="progress">
            <div class="progress-bar" style="width: 85%">85%</div>
        </div>
    </div>
</div>